

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

     <title>CV</title>

     
</head>
<div id = "mech">
<body>

    <div id="page-wrap">
    
        <img src="images/picture.jpg" id="pic" />
        <div id="contact-info" class="vcard">
            <h1 class="fn">Derik Sadiki</h1>
            <p>
                Cell: <span class="tel">0818721212</span><br />
                Email: <a class="email">deriksadiki@gmail.com</a><br />
                Address: Westgate EX9
            </p>
        </div>
                
        <div id="objective">
            <p>
                I am an outgoing and energetic young professional, seeking a 
                career that fits my professional skills and personality.
                "A good programmer is someone who always looks both ways before crossing a one-way street." (Doug Linder) 
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                <h2>Tshwane University Of Tech</h2>
                <p><strong>Major:</strong> Software Development<br />
                   <strong>Minor:</strong> Project Management</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Skills</dt>
            <dd>
                <h2>Technical</h2>
                <p>Mobile App Development with Ionic<br />
                Web Development With HTML, PHP, Javascript, CSS & ASP.net<br />
                Programming with C# & C/C++<br />Database Manipulation with SQL/PLSQL & Firebase</p>
                <h2>Computer skills</h2>
                <p>Microsoft productivity software (Word, Excel, Powerpoint), Adobe Photoshop, Windows, iOS</p>
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
                <h2>Netsurit <span>Email migration April 2018 - May 2018</span></h2>
                <ul>
                    <li>changing the email server</li>
                </ul>
                
                <h2>Tshwane University Of Tech <span> Student Assistant August 2017 - October 2017</span></h2>
                <ul>
                    <li>Was working to help students with C++ programming</li>
                </ul> 
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Hobbies</dt>
            <dd>Cooking<img src="images/cooking.png" id="pic2"/></dd>
            <dd>Gaming<img src="images/gaming.png" id="pic2"/></dd>
            <dd>Music<img src="images/music.png" id="pic2"/></dd>
            
            <dd class="clear"></dd>
            
            <dt>References</dt>
            <dd><p><strong>Dr Trudie Strydom </strong> 082 888 9778<br />
              <strong>Chauke MM </strong> 060 749 3355</p></dd>
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

</body>
</div>

</html>